body{
    margin: 0%;
    font-family: udemy sans,sf pro text,-apple-system, 'Tiro Devanagari Sanskrit', serif,'Averia Serif Libre','PT Serif', serif,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    color: #1c1d1f;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    font-size: large;
}
header {
    background-color: #d1d7dc;
    padding-top: 20px;
    width: fit-content;
    background-image: url('images/bg.jpg');
}
.navbar{
    display: flex;
    padding: 10px;
    margin:auto;
    width: 100%;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    
    white-space: nowrap;
    
}
h1,h2,h3,h4{
    font-weight: 800;
    font-size: xx-large;
}
p {
    font-size: medium;
    font-family: udemy sans, Helvetica, sans-serif,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,apple color emoji,segoe ui emoji,segoe ui symbol;
}
#menuIcn{
    display: none;
}
.search{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 0 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 10px;
    height: fit-content;
    width: 40vw;
}

.search-text {
    border: 0;
    margin-bottom: 5px;
}
.searchSubmit{
    border: 0;
    background: 0;
    
}
.search-icon{
    height: 20px;
    position: relative;
    top: 3px;
}

.globe-icon{
    height: 20px;
    width: 20px;
}

#shop-cart{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
}

.navbar > span{
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.navbar > span:hover{
    color: #5624d0;
}
.navbar > button, #explore{
    margin-left: 7px;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    width: 6vw;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 15px; 
    cursor: pointer;

    
}
#login, #explore{
    color: #1c1d1f;
}
#login, #signup {
    width: 80px;
    height: 40px;
}
#login:hover, #lngbutton:hover{
    background-color: rgb(248, 246, 242);
}
#signup{
    color: #fff;
    background-color: #1c1d1f;
}

#shop-cart{
    cursor: pointer;
}
#lngbutton{
     width: 40px;
     height: 40px;
}

header{
    display: flex;
    width: 92%;
    margin: auto;
    justify-content: space-between;
}
#new{
   width: 31%;
   padding: 10px;
   box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.19);
   height: 20%;
   font-size: 20px;
   min-width: 300px;
   background-color: #fff;
   width: 440px;
   margin-top: 50px;
   margin-left: 4.8rem;
   margin-bottom: 100px;
}

#new > p{
    font-size: 19px;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}



@media (max-width: 1080px) {
    .btn1{
        display:none;
    }
}

@media (max-width: 920px) {
    .btn1, .btn2{
        display:none;
    }
}

@media (max-width: 800px) {
    
    .navbar > span, .navbar > form, .navbar > button, .navbar > img{
        display: none;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    #udemylogo, #menuIcn{
        display: inline;
    }
    #udemylogo{
        margin-right: 20px;
    }

    header{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    } 
    
}

#courses{
    flex-direction: column;
    width: 92%;
    margin: auto;
}
.outersec{
    flex-direction: column;
    width: 92%;
    margin: auto;
}
ul {
    list-style-type: none;
}
#tabs{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    overflow: auto;
    font-weight: bold;
    color: grey;
}

#selectedtab{
    color: black;
}

#courses > h2 {
    margin-bottom: 1px;
}

#courses > p{
    margin-top: 10px;
}


#tabs > li{
    display: inline;
    cursor: pointer;
    font-family:  sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

#tabs > li:hover {
    color: black;
}

#selectedCourses{
    border: 1px solid #d1d7dc;
    padding: 25px;
}
.innersec{
    padding: 25px;
}
#selectedCourses > h3{
    margin-top: 1px;
    font-size: 22px;
}

.explore{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin-left: 0;
    margin-bottom: 20px;
}

.explore:hover{
     background-color: rgb(240, 236, 229);
}
.start{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin-left: 0;
    margin-bottom: 20px;
    background: black;
    color: white;
}

.start:hover{
     background-color: rgb(240, 236, 229);
     color: black;
}

#cards{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.card{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    
}
.card > img{
    width: 240px;
}

.card > h4 {
    margin: 0px;
    font-size: 15px;
}

.author{
    color: #6a6f73;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

.current{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
}

.prev{
    color: #6a6f73;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    text-decoration: line-through;
}
#promotions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8.6rem;
    text-overflow: ellipsis;
    font-weight: bold;
}
#promotions ul{
    margin: 0;
}
#promotions li{
   max-width: 300px;
   position: relative;
   margin: 1em 0;
   font-size: smaller;
   display: flex;
   flex-direction: row;
   font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
#promotions li::before {
    position: absolute;
    top: 50%; left: 0;
    transform: translate(-150%, -50%);
  }
#promotions li img{
    height: 27px;
    width: 27px;
}
.promo {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    overflow: auto;
    font-weight: bold;
}

#featured {
    flex-direction: column;
    width: 92%;
    margin: auto;
}
#featured-bycategory{
    padding: 25px;
}
.featured-topics {
    display: flex;
    gap: 170px;
    margin: 0 auto;
    margin-left: -15px;
    width: 1245x;
    font-size: 13px;
    text-decoration: none;
    /* border: 1px solid black; */
}
.featured-topics li {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    line-height: 2.5;
    list-style: none;
    font-size: larger;
    font-weight: 500;
}
#instructor {
    display: grid;
    grid-auto-flow: column;
    margin: 120px 0 0 120px;
}
.inst {
    width: 400px;
    padding-top: 50px;
}
#partners h2 {
    text-align: center;
}
#partners p {
    text-align: center;
}
.footer{
    background: black;
    max-width: 100%;
    margin: 1rem auto;
    overflow: auto;
    color: rgb(250, 244, 244);
}
.footer ,
.footer a{
    color: #fffefe;
    font-size: 0.9rem;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.footer p{
    margin-bottom: 1.5rem;
    color: #999999;
    padding: 0;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

#footer-button {
    order: 1;
    flex-shrink: 0;
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;
    height: 25px;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    width: 120px;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 15px; 
    cursor: pointer;
    color:#fff;
    
}

.footer-copyright{
    float: right;
}

.footer li{
    line-height: 2.4;
}